## Strings

In [1]:
message = "i feel the nEEd, the Need for speed"

In [2]:
print(message.title())

I Feel The Need, The Need For Speed

In [10]:
first_name = " manudeep"
last_name = "reddy "

full_name = f"{first_name.title()} {last_name.title()}"

print(full_name.strip())

Manudeep Reddy

In [12]:
base_salary, hike = 1_000_000, 0.08
new_salary = base_salary*(1+hike)
print(new_salary)

1080000.0

## Lists

In [14]:
transaction_types = ["COMM","CALL","ROC","DIV","GAIN","INTEREST","VALADJ","LIQ",1]
print(transaction_types[-2])

LIQ

In [15]:
transaction_types[0] = "COMMIT"
print(transaction_types)

['COMMIT', 'CALL', 'ROC', 'DIV', 'GAIN', 'INTEREST', 'VALADJ', 'LIQ', 1]

In [16]:
transaction_types.append("COMM")
print(transaction_types)

['COMMIT', 'CALL', 'ROC', 'DIV', 'GAIN', 'INTEREST', 'VALADJ', 'LIQ', 1, 'COMM']

In [17]:
transaction_types.insert(3,"TRANSFER")
print(transaction_types)

['COMMIT', 'CALL', 'ROC', 'TRANSFER', 'DIV', 'GAIN', 'INTEREST', 'VALADJ', 'LIQ', 1, 'COMM']

In [18]:
print(f"The Latest Tran Type added to the List is: {transaction_types.pop()}")
print(transaction_types)

The Latest Tran Type added to the List is: COMM
['COMMIT', 'CALL', 'ROC', 'TRANSFER', 'DIV', 'GAIN', 'INTEREST', 'VALADJ', 'LIQ', 1]

In [19]:
del transaction_types[-1]
print(transaction_types)

['COMMIT', 'CALL', 'ROC', 'TRANSFER', 'DIV', 'GAIN', 'INTEREST', 'VALADJ', 'LIQ']

In [20]:
transaction_types.remove('TRANSFER')
print(transaction_types)

['COMMIT', 'CALL', 'ROC', 'DIV', 'GAIN', 'INTEREST', 'VALADJ', 'LIQ']

In [21]:
print(f"Sorted List: {sorted(transaction_types)}")
print(f"Original List: {transaction_types}")

Sorted List: ['CALL', 'COMMIT', 'DIV', 'GAIN', 'INTEREST', 'LIQ', 'ROC', 'VALADJ']
Original List: ['COMMIT', 'CALL', 'ROC', 'DIV', 'GAIN', 'INTEREST', 'VALADJ', 'LIQ']

In [26]:
# Permanently Sorting the List
transaction_types.sort()
print(transaction_types)

# Sorting the List in Reverse Aplhabetical order
transaction_types.reverse()
transaction_types.sort()
print(transaction_types)

['CALL', 'COMMIT', 'DIV', 'GAIN', 'INTEREST', 'LIQ', 'ROC', 'VALADJ']
['CALL', 'COMMIT', 'DIV', 'GAIN', 'INTEREST', 'LIQ', 'ROC', 'VALADJ']

In [27]:
transaction_types.reverse()
print(transaction_types)

['VALADJ', 'ROC', 'LIQ', 'INTEREST', 'GAIN', 'DIV', 'COMMIT', 'CALL']

In [28]:
print(len(transaction_types))

8

In [35]:
for txn_type in transaction_types:
    print(f"{txn_type.lower()}\n")

valadj

roc

liq

interest

gain

div

commit

call

In [39]:
print("Odd numbers from 1 to 10 :")
odd_numbers = []
for value in range(1,11,2):
    odd_numbers.append(value)
    print(value)
print(odd_numbers)

Odd numbers from 1 to 10 :
1
3
5
7
9
[1, 3, 5, 7, 9]

In [41]:
# Simple Stats on the odd_numbers List.
print(min(odd_numbers))
print(max(odd_numbers))
print(sum(odd_numbers))

1
9
25

In [42]:
# List Comprehensions
odd_number_squares = [value**2 for value in odd_numbers]
print(odd_number_squares)

[1, 9, 25, 49, 81]

In [2]:
first_ten_cubes = [value**3 for value in range(1,11)]
print(first_ten_cubes)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [7]:
# Slicing Lists
print(first_ten_cubes[0:5])
print(first_ten_cubes[5:])

[1, 8, 27, 64, 125]
[216, 343, 512, 729, 1000]

In [9]:
copy_list = first_ten_cubes[5:]
print(copy_list)

[216, 343, 512, 729, 1000]

In [11]:
# Use slicing while copying a List. Simply assigning the list to a new variable doesn't create a copy, the variable
# will be pointing to the original List.

copy_list = first_ten_cubes # This assignment enables both the variables to point to the same List.
copy_list.append(11**3)
print(f"Orginal List: {first_ten_cubes}\nCopy of List: {copy_list}")

copy_list = first_ten_cubes[:] # This creates a new copy of the List.
copy_list.append(12**3)
print(f"\nOrginal List: {first_ten_cubes}\nCopy of List: {copy_list}")

Orginal List: [1, 8, 27, 64, 125, 216, 343, 512, 729, 1000, 1331, 1331]
Copy of List: [1, 8, 27, 64, 125, 216, 343, 512, 729, 1000, 1331, 1331]

Orginal List: [1, 8, 27, 64, 125, 216, 343, 512, 729, 1000, 1331, 1331]
Copy of List: [1, 8, 27, 64, 125, 216, 343, 512, 729, 1000, 1331, 1331, 1728]

## Tuple (Immutable List)

In [12]:
dimensions = (100,99)
print(f"The Dimensions of the Rectangle are {dimensions[0]}, {dimensions[1]}")

The Dimensions of the Rectangle are 100, 99

In [13]:
dimensions = (45,)
for dimension in dimensions:
    print(dimension)

45